.clickable {
  cursor: pointer;
}

.img-viewer {
  position: relative;
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #555;
  }
  .white-icon {
    color: white;
  }
  .big-image {
    height: 95%
  }
}
