<h1>Content gallery</h1>
<h2>3D models</h2>
<app-model-viewer
  modelName="Windows"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-model-viewer
  modelName="Insulated walls"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-model-viewer
  modelName="Natural gas tank"
  [ratio]="0.25"
  [zoom]="12"
></app-model-viewer>
<app-model-viewer
  modelName="Central AC"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-model-viewer
  modelName="Refrigerator"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-model-viewer
  modelName="LED lightbulb"
  [ratio]="0.25"
  [zoom]="4"
></app-model-viewer>
<app-model-viewer modelName="Tree" [ratio]="0.25" [zoom]="8"></app-model-viewer>
<br />
<h2>Images</h2>
<app-image-viewer
  imageName="WindowFrontLabeled.png"
  [width]="300"
></app-image-viewer>
<app-image-viewer
  imageName="WindowTopLabeled.png"
  [width]="300"
></app-image-viewer>
<app-image-viewer
  imageName="InsulationDiagramLabeled.png"
  [width]="300"
></app-image-viewer>
<app-image-viewer
  imageName="InsulationFinal.png"
  [width]="300"
></app-image-viewer>
<app-image-viewer
  imageName="NaturalGasTank.png"
  [width]="300"
></app-image-viewer>
<app-image-viewer imageName="CentralAC.png" [width]="300"></app-image-viewer>
<app-image-viewer imageName="Refrigerator.png" [width]="300"></app-image-viewer>
<app-image-viewer imageName="LightbulbOff.png" [width]="300"></app-image-viewer>
<app-image-viewer imageName="LightbulbOn.png" [width]="300"></app-image-viewer>
<app-image-viewer imageName="Tree.png" [width]="300"></app-image-viewer>
