.header {
  display: flex;
  button {
    margin-left: 20px;
  }
  .filler {
    flex: 1;
  }
}

.container {
  display: table;
  width: 100%;
  height: 100%;
  .footer {
    display: table-footer-group;
    position: relative;
  }
}

.copyright {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  font-size: 14px;
}

.brought-by {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  color: #444;
  .big {
    font-size: 1.2em;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: black;
    }
  }
}

.content {
  padding: 20px;
}

.tutorial {
  position: relative;
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  .donut {
    float: left;
  }
  div {
    float: right;
    width: 50%;
  }
}
