<div class="container">
  <mat-toolbar class="header">
    <h1>Home energy use</h1>
    <button mat-raised-button routerLink="home" routerLinkActive="mat-primary">
      Home
    </button>
    <button mat-raised-button routerLink="view" routerLinkActive="mat-primary">
      View
    </button>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar class="footer">
    <i class="copyright">&copy;Copyright 2021 Anand Swaroop</i>
    <h2 class="brought-by">
      Brought to you by
      <a class="big" href="https://github.com/Anut-py" target="_blank">Anut</a>
    </h2>
  </mat-toolbar>
</div>
