<h1>View the models</h1>
<p>
  Click the <i>3D model help</i> button at the top for instructions on
  navigating 3D models. Click on the images to make them bigger.
</p>
<h2>Double pane windows with reflective coating</h2>
<app-model-viewer
  modelName="Windows"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-image-viewer
  imageName="WindowFrontLabeled.png"
  [width]="300"
></app-image-viewer>
<app-image-viewer
  imageName="WindowTopLabeled.png"
  [width]="300"
></app-image-viewer>
<p>
  When it comes to windows, double pane windows are the best option in terms of energy efficiency.
  This means the windows consist of two panes, with a small amount of air in between them. This
  improves the insulation of your house, because air is a natural insulator. This is why you don’t
  feel cold when you touch the windows on a cold day. The air prevents energy transfer in and out
  of the house.
</p>
<p>
  Another feature you might want to consider is a reflective treatment on your windows. This is best
  for a warm climate, because it keeps your house cooler. The reflective coating reflects sunlight,
  preventing it from entering your house. This, in turn, keeps your house cooler. The reflective
  treatment prevents the solar energy from getting transferred into your house.
</p>
<p>
  Double pane windows and windows with a reflective treatment increase energy efficiency because you
  don’t have to spend as much energy on heating and cooling.
</p>
<br />
<h2>Insulated walls</h2>
<app-model-viewer
  modelName="Insulated walls"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-image-viewer
  imageName="InsulationDiagramLabeled.png"
  [width]="300"
></app-image-viewer>
<app-image-viewer
  imageName="InsulationFinal.png"
  [width]="300"
></app-image-viewer>
<p>
  The walls of an energy efficient house are insulated. The walls are usually made of
  horizontal wood planks, and every foot or so there is a wooden pillar attached to
  the wall. Then, some black vapor retarding paper is attached to the inside. This
  prevents moisture from building up in the walls. Finally, the insulation is applied,
  and wood planks are used to cover the insulation. Then, the walls are painted.
</p>
<p>
  Insulated walls are one of the most important parts of a house. The insulation
  controls energy transfer; in other words, it prevents thermal energy from entering
  the house, and also prevents thermal energy from exiting the house, keeping it at a
  consistent temperature. This means you spend less energy on heating and cooling the
  house, making your house more energy efficient.
</p>
<br />
<h2>Natural gas for heating</h2>
<app-model-viewer
  modelName="Natural gas tank"
  [ratio]="0.25"
  [zoom]="12"
></app-model-viewer>
<app-image-viewer
  imageName="NaturalGasTank.png"
  [width]="300"
></app-image-viewer>
<p>
  Heating your house requires an energy source, and choosing an energy effective and cost effective
  option seems hard. However, one option shines above all the rest: natural gas. Natural gas comes
  in large metal cylinders like the one shown above. This is the cheapest and most energy efficient
  fuel source available for heating your house. When the natural gas is burnt, the chemical energy
  is converted to thermal energy. However, some chemical energy is converted into sound and light
  as a side product, and this is wasted energy. 
</p>
<p>
  Compared to other fuel sources however, natural gas is much more efficient. The efficiency of
  furnaces is measured with an Annual Fuel Utilization Efficiency (AFUE) rating, which is a percentage
  rating. A higher rating means it’s more efficient. Oil furnaces have AFUE ratings between 80% and 90%,
  while gas furnaces have ratings in the 89% to 98% range. This means gas is the more efficient option.
</p>
<p>
  One more concern remains, however: environmental friendliness. While gas is 3 times more efficient than
  electricity, electricity seems like a more eco-friendly option, right? Although this is a reasonable
  argument, there is one flaw: the amount of greenhouse gases released when generating that electricity
  far exceeds the amount of waste products produced by natural gas. To top it all off, natural gas releases
  very few waste products compared to other fossil fuels.
</p>
<p>
  But there is still one alternative that’s better than natural gas, and that is using renewable sources of
  energy. Solar panels and other sources of renewable energy are more environmentally friendly than natural
  gas, and they can be used for other purposes other than heating. The only problem with this is that
  renewable energy sources are usually less efficient than fossil fuels. Hopefully, renewable energy improves
  and becomes more widespread in the future.
</p>
<br />
<h2>Central A/C vs Window A/C</h2>
<app-model-viewer
  modelName="Central AC"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-image-viewer imageName="CentralAC.png" [width]="300"></app-image-viewer>
<p>
  When choosing air conditioning, a question arises: central or window A/C? The short
  answer is central A/C if you want to cool three or more rooms; for one or two rooms,
  installing high efficiency window units is the cheaper and more energy efficient choice.
  The long answer is that it depends on several factors.
</p>
<p>
  One factor is the climate where you live. Obviously, in a warm climate air conditioning is
  much more important than in a cold climate. A house in Texas may have central A/C, but a
  house in Canada might have one window unit, or even no air conditioning at all.
</p>
<p>
  A central A/C is more energy efficient than 3 window units because each unit requires an
  electricity source separate from the other units, while the central A/C just needs one source
  of energy, no matter how many rooms you want to cool (admittedly, the energy required for a
  central A/C is more than that of a window A/C, but if you have multiple window units the energy
  adds up, and combined they transfer more electrical energy than central A/C).
</p>
<p>
  The model above shows a central A/C unit.
</p>
<br />
<h2>High efficiency appliances</h2>
<app-model-viewer
  modelName="Refrigerator"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-image-viewer imageName="Refrigerator.png" [width]="300"></app-image-viewer>
<app-image-viewer imageName="EnergyStarLogo.png" [width]="173"></app-image-viewer>
<p>
  The appliances inside your house, such as your refrigerator, use up a large amount of energy. This is
  why you should always try to buy highly efficient appliances, to make sure as little energy as possible
  is wasted. The easiest way to find energy efficient appliances is by looking for the energy star logo.
  This is a blue label like the one shown above. If you see it on an appliance, that means that the
  appliance is rated to be energy efficient.
</p>
<br />
<h2>LED Lights</h2>
<app-model-viewer
  modelName="LED lightbulb"
  [ratio]="0.25"
  [zoom]="4"
></app-model-viewer>
<app-image-viewer imageName="LightbulbOff.png" [width]="300"></app-image-viewer>
<app-image-viewer imageName="LightbulbOn.png" [width]="300"></app-image-viewer>
<p>
  Lights require quite a lot of energy, especially when you consider that they are on several hours per
  day. This makes it very important to use energy efficient light bulbs, otherwise you will waste lots
  of electricity. The first light bulbs ever made, incandescent bulbs, were horribly inefficient. They
  worked by heating up a metal strand, called a filament, until it started to glow. As expected, lots of
  energy was wasted with this method because the metal had to be heated to an extremely high temperature.
</p>
<p>
  Since then, more efficient alternatives have been made. One alternative is fluorescent lights, which
  transfer electricity to a gas to make the particles collide, emitting light. A relatively recent type of
  light is the LED, which stands for light emitting diode. These lights pass electricity through special
  materials called semiconductors. The semiconductors pass energy into the electricity, and that energy is
  released as light. LED lights are by far the most energy efficient type of light. An LED light costs $1.19
  in electricity per year, compared to $1.75 for a fluorescent light, and $7.01 for an incandescent light.
</p>
<br />
<h2>Natural vegetation</h2>
<app-model-viewer modelName="Tree" [ratio]="0.25" [zoom]="8"></app-model-viewer>
<app-image-viewer imageName="Tree.png" [width]="300"></app-image-viewer>
<p>
  Although all the devices and machines inside of a house are very important for energy efficiency, the vegetation
  outside the house is often neglected. The reality is that having the shade of a tree cooling your house is just
  as important as having good heating and cooling. The tree blocks the thermal energy from the sun, preventing it
  from reaching your house. It also plays a role in cleaning up the greenhouse gases released by your house. These
  factors make trees and vegetation both energy efficient and environmentally friendly.
</p>
<button mat-raised-button class="expand-btn"
        (click)="glossaryExpanded = !glossaryExpanded"
        [class.expanded]="glossaryExpanded"
        color="accent">
  <mat-icon *ngIf="!glossaryExpanded">arrow_left</mat-icon>
  <mat-icon *ngIf="glossaryExpanded">arrow_right</mat-icon>
</button>
<div class="glossary" [class.expanded]="glossaryExpanded">
  <app-glossary></app-glossary>
</div>