app-model-viewer {
  display: inline-block;
}

app-image-viewer {
  margin-left: 10px;
}

p {
  margin-top: 10px;
}

.expand-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 50px !important;
  width: 20px !important;
  &.expanded {
    right: 400px;
  }
}

.glossary {
  position: absolute;
  right: 0;
  height: 100%;
  width: 0;
  background-color: white;
  &.expanded {
    width: 400px;
  }
}
