app-model-viewer {
  display: inline-block;
}

app-image-viewer {
  margin-left: 10px;
}

p {
  margin-top: 10px;
}

.expand-btn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 50px !important;
  width: 20px !important;
  transition: right 100ms ease-in-out;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  &.expanded {
    right: 400px;
  }
}

.glossary {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: white;
  transition: width 100ms ease-in-out;
  &.expanded {
    width: 400px;
  }
  .content {
    margin: 20px;
  }
}
