<h1>View the models</h1>
<p>
  Click the <i>3D model help</i> button at the top for instructions on
  navigating 3D models. Click on the images to make them bigger.
</p>
<h2>Double pane windows with reflective coating</h2>
<app-model-viewer
  modelName="Windows"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-image-viewer
  imageName="WindowFrontLabeled.png"
  [width]="300"
></app-image-viewer>
<app-image-viewer
  imageName="WindowTopLabeled.png"
  [width]="300"
></app-image-viewer>
<p>Placeholder</p>
<br />
<h2>Insulated walls</h2>
<app-model-viewer
  modelName="Insulated walls"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-image-viewer
  imageName="InsulationDiagramLabeled.png"
  [width]="300"
></app-image-viewer>
<app-image-viewer
  imageName="InsulationFinal.png"
  [width]="300"
></app-image-viewer>
<p>Placeholder</p>
<br />
<h2>Natural gas for heating</h2>
<app-model-viewer
  modelName="Natural gas tank"
  [ratio]="0.25"
  [zoom]="12"
></app-model-viewer>
<app-image-viewer
  imageName="NaturalGasTank.png"
  [width]="300"
></app-image-viewer>
<p>Placeholder</p>
<br />
<h2>Central A/C vs Window A/C</h2>
<app-model-viewer
  modelName="Central AC"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-image-viewer imageName="CentralAC.png" [width]="300"></app-image-viewer>
<p>Placeholder</p>
<br />
<h2>High efficiency appliances</h2>
<app-model-viewer
  modelName="Refrigerator"
  [ratio]="0.25"
  [zoom]="10"
></app-model-viewer>
<app-image-viewer imageName="Refrigerator.png" [width]="300"></app-image-viewer>
<p>Placeholder</p>
<br />
<h2>LED Lights</h2>
<app-model-viewer
  modelName="LED lightbulb"
  [ratio]="0.25"
  [zoom]="4"
></app-model-viewer>
<app-image-viewer imageName="LightbulbOff.png" [width]="300"></app-image-viewer>
<app-image-viewer imageName="LightbulbOn.png" [width]="300"></app-image-viewer>
<p>Placeholder</p>
<br />
<h2>Natural vegetation</h2>
<app-model-viewer modelName="Tree" [ratio]="0.25" [zoom]="8"></app-model-viewer>
<app-image-viewer imageName="Tree.png" [width]="300"></app-image-viewer>
<p>Placeholder</p>
