<h1>Hello!</h1>
<p>This website is for a seventh grade science project.</p>
<p>
  In this website, you will learn about all the parts of an energy efficient
  home.
</p>
<p>Each part will have an interactive 3d model next to it.</p>
<p>
  It will also have some images, because the interactive 3d models look worse
  than the original 3d models. The images will show what the original models
  looked like.
</p>
<p>
  To see each part and how it affects energy transfer, click on the View button
  at the top of the screen.
</p>
<p>
  To view all of the 3d models and images without any text, click on the Gallery
  button.
</p>
